version: '3.9'
services:
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: aurora
      POSTGRES_PASSWORD: aurora
      POSTGRES_DB: aurora
    volumes:
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data
  meili:
    image: getmeili/meilisearch:v1.7.3
    environment:
      MEILI_MASTER_KEY: masterKey
    ports:
      - "7700:7700"
    volumes:
      - meili_data:/meili_data
  maildev:
    image: maildev/maildev:2.1.0
    ports:
      - "1080:1080"
      - "1025:1025"
  minio:
    image: minio/minio:RELEASE.2024-02-24T17-11-14Z
    command: server /data --console-address :9001
    environment:
      MINIO_ROOT_USER: aurora
      MINIO_ROOT_PASSWORD: auroropass
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
volumes:
  db_data:
  redis_data:
  meili_data:
  minio_data:
